<div class="style-form">
	thêm sản phẩm
</div>
<form [formGroup]="farmForm" (ngSubmit)="submitForm()" class="container col-sm-4 style-form">
	<div class="form-group row mb-3">
		<label class="col-sm-2 col-form-label col-form-label-sm">
			Tên sản phẩm:
		</label>
		<div class="col-sm-8">
			<input formControlName="name" type="text" class="form-control form-control-sm" placeholder="Hạt cà phê">
		</div>
		
	</div>

	<div class="form-group row mb-3">
		<label class="col-sm-2 col-form-label col-form-label-sm">
			Giấy xác nhấn:
		</label>
		<div class="col-sm-8">
			<input formControlName="content" type="text" class="form-control form-control-sm" placeholder="Xác nhận an toàn thực phẩm..">
		</div>
		
	</div>

	<div class="form-group row mb-3">
		<label class="col-sm-2 col-form-label col-form-label-sm">
			Công ty:
		</label>
		<div class="col-sm-8">
			<input formControlName="company" type="text" class="form-control form-control-sm" placeholder="Công ty...">
		</div>
		
	</div>

	<div class="form-group row mb-3">
		<label class="col-sm-2 col-form-label col-form-label-sm">
			Số tiền:
		</label>
		<div class="col-sm-8">
			<input formControlName="money" type="number" class="form-control form-control-sm" placeholder="5000 ETH..">
		</div>
		
	</div>

	<div class="form-group row mb-3">
		<label class="col-sm-2 col-form-label col-form-label-sm">
			Nguyên liệu:
		</label>
		<div class="col-sm-8">
			
			<app-production-create
			[formGroup]="farmForm"	
			*ngFor="let farm of farms | async"
		    [name]="farm.name" 
		    [thumbnail]="farm.thumbnail" 
		    [company]="farm.company"
		    [content]="farm.content"
		    [money]="farm.money"
			></app-production-create>
			
		</div>
		
	</div>

	<div class="form-group row mb-3">
		<label class="col-sm-2 col-form-label col-form-label-sm">
			Hình ảnh:
		</label>
		<div class="col-sm-8" style="width: 250px">
			<input type="file" formControlName="thumbnail" class="form-control form-control-sm" (change)="onselectFile($event)">
			
		</div>
		<div class="col-auto">
			<img [src]="url" height="100" width="150">
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<button type="submit" class="btn btn-sm btn-secondary" [disabled]="!farmForm.valid">Thêm sản phẩm</button>
	</div>
</form>