<ul class="nav justify-content-center">
        <h1>Truy xuất nguồn gốc sản phẩm</h1>
    </ul>
    <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <img src="{{img}}" alt="">
            <img src="{{fimg}}" alt="">
          </div>
          <div class="col right">
            <div>
                <h3 class="text">thông tin nguồn gốc sản phẩm</h3>
                <table class="table">
                  <tbody>
                      <tr>
                        <th>Tên sản phẩm:</th>
                        <td>{{name}}</td>
                      </tr>
                      <tr>
                        <th>Quy trình sản xuất:</th>
                        <td>{{content}}</td>
                      </tr>
                      <tr>
                        <th>giá tiền:</th>
                        <td>{{money}}</td>
                      </tr>
                      <tr>
                        <th>Nơi sản xuất:</th>
                        <td>{{company}}</td>
                      </tr>
                      
                    </tbody>
                   
                  </table>

                  <h3 class="text">Thông tin nhà sản xuất</h3>
                  <table class="table">
                     <tbody>
                      <tr>
                        <th>Tên sản phẩm:</th>
                        <td>{{fname}}</td>
                      </tr>
                      <tr>
                        <th>Quy trình trồng trọt:</th>
                        <td>{{fcontent}}</td>
                      </tr>
                      <tr>
                        <th>giá tiền:</th>
                        <td>{{fmoney}}</td>
                      </tr>
                      <tr>
                        <th>Nơi sản xuất:</th>
                        <td>{{fcompany}}</td>
                      </tr>
                      
                    </tbody>
                  </table>

            </div>
          </div>
         
        </div>
        
      </div>