<app-navbar></app-navbar>
<h4 class="text-muted text-center mt-3">Lựa chọn các thể loại</h4>
<div class="home-content">
	<a routerLink="/farm">
		<div class="card" style="width: 18rem;">
		  <img src="https://img.freepik.com/premium-vector/farm-logo-template_73313-382.jpg?w=2000" class="card-img-top" alt="...">
		  <div class="card-body">
		  	<h5 class="card-title text-center">Nông trại</h5>
		    <p class="card-text">là nơi chuyên môn sản xuất nông sản.</p>
		  </div>
		</div>
	</a>

	<a routerLink="/production">
		<div class="card" style="width: 18rem;">
		  <img src="https://media.istockphoto.com/id/1176559227/vi/vec-to/m%E1%BA%ABu-thi%E1%BA%BFt-k%E1%BA%BF-vector-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-b%E1%BA%A5t-%C4%91%E1%BB%99ng-s%E1%BA%A3n.jpg?s=612x612&w=0&k=20&c=s1Tz1j6dAC9ooixDgN-zFgrJRxCCj6JERUuu8PdEjBk=" class="card-img-top" alt="...">
		  <div class="card-body">
		  	<h5 class="card-title text-center">Nhà sản xuất</h5>
		    <p class="card-text">là nơi sản xuất ra các loại sản phẩm.</p>
		  </div>
		</div>
	</a>

	<a routerLink="/qr-check">
		<div class="card" style="width: 18rem;">
		  <img src="https://cdn.vietnambiz.vn/2020/3/19/bounced-check-15846130515311463567810.png" class="card-img-top" alt="...">
		  <div class="card-body">
		  	<h5 class="card-title text-center">Check QR</h5>
		    <p class="card-text text-center">truy xuất nguồn gốc sản phẩm.</p>
		  </div>
		</div>
	</a>
</div>